body{
    font-family: 'Raleway', sans-serif;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-color: #101728;
    color: white;
    margin: 0px;
}
h1{
    display: flex;
    justify-content: center;
    font-size: 5rem;
    text-align: center;
}
.txt{
    display: flex;
    justify-content: center;
}
.txt p{
    width: 50%;
    text-align: center;
}
#demo{
    display: flex;
    justify-content: center;
    font-size: 10rem;
    text-align: center;
}
.socials{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
}
.socials a{
    margin-left: .5rem;
    background-color: #33353d;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    font-size: 1rem;
    text-align: center;
    transition: all .2s linear;
}
.socials a:hover{
    color: #33353d;
    background-color:white;
}
.twitter {
  background: #55ACEE;
  color: white;
}
.discord {
  background: #007bb5;
  color: white;
}
.instagram {
  background: #125688;
  color: white;
}