@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins');
body {
  padding: 0;
  position: absolute;
  left: 10%;
  right: 10%;
  font-family: "Poppins", sans-serif;
}


/* Barre de navigation boutique */
.boutique{
    /* width: 100%; */
    background-color: white;
    /* position: sticky; */
    top: 0px;
}

.boutique ul{
    list-style-type: none;
}

.boutique li{
    float: left;
    width: auto;/*100% divisé par le nombre d'éléments de menu*/
	margin-right:10px;
    text-align: center;/*Centre le texte dans les éléments de menu*/
}

/*Evite que le menu n'ait une hauteur nulle*/
.boutique ul::after{
    content: "";
    display: table;
    clear: both;
}

.boutique a{
    display: block; /*Toute la surface sera cliquable*/
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;/*Evite le décalage des éléments sous le menu à cause de la bordure en :hover*/
    padding: 10px;/*Agrandit le menu et espace la bordure du texte*/
}

.boutique a:hover{
    color: grey;
    border-bottom: 2px solid grey;
}

/* Fin barre de navigation boutique */

/* pub */

.bannerpub{
	width:126.3%;
	margin-top:10px;
	margin-left:-13.2%;
	margin-right:-13.1%;
}

/* Fin pub */

.product-filter {
  display: flex;
  flex-wrap:wrap;
}
.product-filter h1 {
  flex-grow: 1;
}
.sort {
  display: flex;
}
.collection-sort {
  display: flex;
  flex-direction: column;
}

/* Section principale */

.main{
  margin: 20px;
  margin-top: 80px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
/* Toutes les cartes */
.cards{
  display:flex;
  flex-wrap:wrap;
}
.cards .card{
  margin-right: 20px;
  margin-bottom:10px;
  cursor:pointer;
}
.cards .card img{
  width: 350px;
}
.cards .card .card-header{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
.cards .card .card-body p{
  margin-top: -10px;
}
/* Fin de toutes les cartes */

.bouton
{
    padding: 15px 20px;
	font-size: 20px;
	color:white;
	border:none;
	border-radius: 5px;
	outline:none;
	cursor:pointer;
	background-color:black;
	margin-bottom:10px;
}
.bouton:hover
{
    background-color:lightgray;
	color:black;
}
.texte
{
    display:flex;
	flex-wrap:wrap;
}
.texte .card{
  margin-right: 20px;
  margin-bottom:10px;
  cursor:pointer;
}
.texte .card img{
  width: 350px;
}
.texte .card .card-header{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
.texte .card .card-body p{
  margin-top: -10px;
}

/* Video de présentation */
.main .video{
  margin-top: 10px;
  width: 90%;
}
.main .video iframe{
  border:none;
  border-radius: 10px;
  width: 100%;
  height: 400px;
}
/* Fin de la vidéo de présentation */
/* Fin de la section principale */

/* Pied de page */
footer {
  background-color: black;
  padding: 20px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .liens{
	  display:block;
	  margin-top:5px;
	  margin-bottom:10px;
  }
footer .gauche a{
	text-decoration:none;
	color:white;
	margin-left:10px;
	font-size:14px;
}
footer .gauche a:hover{
	color:lightgray;
}
footer .droite {
  display: flex;
}
footer .droite p{
	margin-right: 15px;
	border: 1px solid #fff;
	border-radius: 100%;
	padding: 5px;
	text-align:center;
	width: 20px;
	cursor:pointer;
	margin-top:-5px;
}
footer .droite a{
	text-decoration: none;
	color:white;
}
/* Fin du pied de page */

@media screen and (max-width: 640px){
	.principal{
		position: relative;
		/* margin-bottom:-10%; */
	}
  .principal .onglets .link, .principal h1, .principal .fa-heart{
    display:none;
  }
  .cards .card img{
    width: 300px;
  }
  footer .droite p{
	margin-top:5px;
	margin-left:10px
}
  footer .liens{
	  display:block;
	  margin-top:5px;
	  margin-bottom:10px;
  }
  .boutique{
    font-size:12px;
}
}