:root{
  --hauteur-menu: 60px;
}

nav{
  height: var(--hauteur-menu);;
  position: sticky;
  width: 100%;
  font-size: 18px;
  top: 0;
  z-index: 1100;
}

.top{
  padding: 5px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  top: 0;
  background-color: white;
  display: flex;
  text-align: center;
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
  height: var(--hauteur-menu);;
  justify-content: space-between;
  margin: auto;
}
 
.top .languages a{
  color: black;
  text-decoration: none;
}
.top > .navig {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.logorcorp{
  width: 50px;
  height: 50px;
  margin-top: 6px;
}
li a {
  text-decoration: none;
  color: black;
}

.navig .menu-deroulant > a:after{
  content: 'â¯';
  margin-left: 6px;
  font-size: 15px;
  display: inline-block;
}
.menu-deroulant{
  height: var(--hauteur-menu);
}
.sous-menu {
  margin-top: 30px;
  width: 100%;
  background-color: white;
  border-radius: 2px;
  overflow: hidden;
  max-height: 0;
}

.sous-menu > li {
  height: 50px;
  background-color:white ;
  align-items: center;
  display: flex;
}
.navig > li > a{
  transition: all .2s linear;
}
.navig > li:hover > a{
  color: #2169EC;
}
.sous-menu > li:hover {
  transition: transform .2s;
  transform: scale(1.03); 
  text-align:center;
}

@keyframes rotationFleche {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(90deg);
  }
}
.menu-deroulant:hover > a:after{
  animation: rotationFleche 0.2s linear forwards;
}
@keyframes apparitionSousMenu {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
    border-top: 3px solid #2169EC;
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
  100% {
    max-height: 50em;
    border-top: 3px solid #2169EC;
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
}
.menu-deroulant:hover > .sous-menu {
  animation: apparitionSousMenu 1s forwards;
}
